---
import Layout from '../layouts/Layout.astro';
import map from '../assets/map.svg';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
    <section class="container grid grid-cols-24 py-10">
      <div class="col-span-24 text-4xl uppercase col-start-2 items-center justify-start">
        <h3 class="flex items-center">Location <a href="https://maps.app.goo.gl/SPYKC3gLM7L8DhgX9"><img class="ml-4" src={map.src} alt="map" /></a></h3>
				<p class="text-lg mt-2">751 U.S. Hwy 27 S, Sebring, FL 33870</p>
      </div>
    </section>
    <section class="pb-10">
      <div class="container mt-8 grid grid-cols-24">
				<iframe class="w-full h-[500px] sm:h-[600px] col-span-24" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.123456789012!2d-81.50000000000001!3d27.500000000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88ddc12345678901%3A0x1234567890123456!2s751%20US%20Hwy%2027%20S%2C%20Sebring%2C%20FL%2033870%2C%20USA!5e0!3m2!1sen!2sin!4v1612345678901" allowfullscreen="" loading="lazy"></iframe>
			</div>
    </section>
  </main>
</Layout>
