---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
---

<Layout class="w-full">
	<main class="container grid grid-cols-24">
		<section class="flex flex-col items-center justify-center my-8 col-span-22 col-start-2 border border-primary pt-10 pb-8 text-primary">
      <h3 class="text-4xl mb-10">THANK YOU!</h3>
      <p class="text-lg font-light">Your request has been received.</p>
      <p class="text-lg font-light">We will be in touch soon.</p>
    </section>
	</main>
</Layout>
