@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Stint+Ultra+Expanded&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto Condensed", sans-serif; 
  --font-stint: "Stint Ultra Expanded", serif; 
  --color-highlights: oklch(0.8259 0.0475 78.77);
  --color-primary: oklch(0.7767 0.0538 79.28);
  --color-primary-blue: oklch(0.359 0.0584 254.78);
  --color-darker-blue: oklch(0.287 0.0584 256.14);
}

body {
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Stint Ultra Expanded", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
