---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h2>Location</h2>
	<p>751 U.S. Hwy 27 S, Sebring, FL 33870</p>
	
	<p>Phone</p>

	<h2>Hours of Operation</h2>
	<p>Monday: Closed
	<br>Tuesday-Saturday 11:00 - 9:00
	<br>Sunday 11:00-3:00</p>
</Layout>
