---
import arrow from '../../assets/right-arrow.svg';
---
<div class="flex items-center border">
  <input type="email" placeholder="Join our mailing list" class="uppercase w-60 p-3 leading-none outline:none focus:outline-none text-primary placeholder:text-primary" />
  <a href="#"><img class="p-3 border-l border-primary hover:bg-primary" src={arrow.src} alt="Join our mailing list" fetchpriority="high" />
  </a>
</div>