---
import arrow from '../../assets/email-signup-arrow.svg';
---
<div class="flex items-center border border-[#D9C4A2]">
  <input type="email" placeholder="Join our mailing list" class="uppercase w-60 p-3 leading-none focus:outline-none text-[#D9C4A2] placeholder:text-[#D9C4A2]" />
  <a href="#"><img class="p-3 border-l border-[#D9C4A2] hover:bg-[#D9C4A2]" src={arrow.src} alt="Join our mailing list" fetchpriority="high" />
  </a>
</div>