---

import Nav from '../nav/index.astro';
import Socials from '../socials/index.astro';

---

<header class="container text-primary flex flex-col sm:grid sm:grid-cols-24 md:divide-x-1 md:divide-primary justify-start">
  <div class="order-2 sm:order-1 flex flex-col items-center justify-center col-span-8">
    <p class="text-center uppercase tracking-wider"><a href="https://maps.app.goo.gl/SPYKC3gLM7L8DhgX9" target="_blank">751 U.S. Highway 27 S, <br>
    Sebring, FL 33870</a></p>
    <span class="flex justify-between w-40">
      <Socials>
    </span>
  </p>
  </div>
  <a href="/" class="order-1 sm:order-2 flex items-center justify-center py-7 sm:py-9 col-span-8">
    <svg class="fill-primary w-[210px]" viewBox="0 0 185 73" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.52461 72.9057L7.05665 67.3665H7.64402L10.1761 72.9057H9.50137L8.85051 71.4522H5.82635L5.16754 72.9057H4.52461ZM6.07241 70.8943H8.60445L7.34239 68.0893L6.07241 70.8943Z" />
      <path d="M19.416 72.9057V67.9793H17.5428V67.4057H21.9163V67.9793H20.0431V72.9057H19.416Z" />
      <path d="M40.1996 72.9057V67.4057H40.8267V72.3321H43.954V72.9057H40.1996Z" />
      <path d="M51.9886 72.9057L54.5206 67.3665H55.108L57.64 72.9057H56.9653L56.3145 71.4522H53.2903L52.6315 72.9057H51.9886ZM53.5364 70.8943H56.0684L54.8063 68.0893L53.5364 70.8943Z" />
      <path d="M66.1175 72.9057V67.4057H66.7445V70.69L69.9354 67.4057H70.753L68.3638 69.81L70.8482 72.9057H70.0624L67.9272 70.2422L66.7445 71.4286V72.9057H66.1175Z" />
      <path d="M79.2043 72.9057V67.4057H83.2207V67.9715H79.8314V69.8493H82.8635V70.415H79.8314V72.34H83.2603V72.9057H79.2043Z" />
      <path d="M102.84 72.9843C102.006 72.9843 101.475 72.5757 101.125 72.01L101.578 71.625C101.919 72.1357 102.268 72.4107 102.848 72.4107C103.475 72.4107 103.935 71.9629 103.935 71.0907V67.4057H104.57V71.0829C104.57 71.735 104.38 72.2143 104.062 72.5286C103.745 72.835 103.34 72.9843 102.84 72.9843Z" />
      <path d="M112.756 72.9057L115.288 67.3665H115.876L118.408 72.9057H117.733L117.082 71.4522H114.058L113.399 72.9057H112.756ZM114.304 70.8943H116.836L115.574 68.0893L114.304 70.8943Z" />
      <path d="M129.1 73C127.496 73 126.314 71.7507 126.314 70.1714V70.1557C126.314 68.6 127.496 67.3115 129.124 67.3115C130.132 67.3115 130.743 67.6572 131.29 68.1836L130.862 68.6393C130.386 68.1993 129.878 67.885 129.116 67.885C127.885 67.885 126.965 68.875 126.965 70.14V70.1557C126.965 71.4286 127.885 72.4264 129.116 72.4264C129.878 72.4264 130.378 72.1357 130.909 71.6329L131.322 72.0336C130.751 72.615 130.1 73 129.1 73Z" />
      <path d="M139.833 72.9057V67.4057H140.46V70.69L143.651 67.4057H144.468L142.079 69.81L144.563 72.9057H143.778L141.642 70.2422L140.46 71.4286V72.9057H139.833Z" />
      <path d="M154.747 72.9843C153.858 72.9843 153.144 72.7014 152.477 72.1043L152.866 71.6486C153.445 72.175 154.001 72.4264 154.771 72.4264C155.525 72.4264 156.009 72.0336 156.009 71.4914V71.4757C156.009 70.965 155.731 70.6822 154.564 70.4307C153.286 70.1557 152.699 69.7472 152.699 68.8436V68.8279C152.699 67.9715 153.469 67.3272 154.525 67.3272C155.342 67.3272 155.906 67.555 156.477 68.0029L156.112 68.4822C155.596 68.0657 155.08 67.885 154.509 67.885C153.779 67.885 153.326 68.27 153.326 68.7729V68.7886C153.326 69.3072 153.604 69.6057 154.834 69.8572C156.072 70.1322 156.644 70.5722 156.644 71.4129V71.4286C156.644 72.3714 155.85 72.9843 154.747 72.9843Z" />
      <path d="M167.881 73C166.19 73 165.055 71.6879 165.055 70.1714V70.1557C165.055 68.6393 166.206 67.3115 167.896 67.3115C169.587 67.3115 170.722 68.6236 170.722 70.14V70.1557C170.722 71.6721 169.571 73 167.881 73ZM167.896 72.4264C169.166 72.4264 170.071 71.4207 170.071 70.1714V70.1557C170.071 68.9064 169.151 67.885 167.881 67.885C166.611 67.885 165.706 68.8907 165.706 70.14V70.1557C165.706 71.405 166.626 72.4264 167.896 72.4264Z" />
      <path d="M179.426 72.9057V67.4057H180.014L183.514 71.8136V67.4057H184.125V72.9057H183.625L180.038 68.3957V72.9057H179.426Z" />
      <path d="M6.91237 5.49997V0.573568H5.03914V0H9.41266V0.573568H7.53943V5.49997H6.91237Z" />
      <path d="M17.9345 5.49997V0H18.5615V2.44356H21.7683V0H22.3953V5.49997H21.7683V3.02498H18.5615V5.49997H17.9345Z" />
      <path d="M31.3469 5.49997V0H35.3632V0.565712H31.9739V2.44356H35.006V3.00927H31.9739V4.93426H35.4029V5.49997H31.3469Z" />
      <path d="M22.3835 13.499C29.7653 13.499 34.8254 15.6796 39.2902 19.451L32.5039 27.5829C29.4678 25.049 26.6697 23.6937 22.443 23.6937C16.49 23.6937 11.7872 28.6437 11.7871 34.949V35.0668C11.7871 41.7846 16.4901 46.5579 23.098 46.5579C25.9554 46.5579 28.0985 45.9685 29.7654 44.8489V39.84H21.6097V31.4722H40.719V49.9758C36.2542 53.6882 30.3012 56.3989 22.6218 56.3989C9.58453 56.3989 0 47.6185 0 35.0668V34.949C2.23516e-05 22.9276 9.52491 13.499 22.3835 13.499ZM68.6124 14.3241C75.0416 14.3241 79.3873 15.9741 82.1853 18.7437C84.626 21.1598 85.8763 24.4009 85.8763 28.3491V28.4669C85.8763 34.8311 82.5426 39.0151 77.304 41.1954L87.2456 55.5739H73.9702L65.5763 43.0812H60.4568V55.5739H48.9076V14.3241H68.6124ZM105.328 55.5739H93.7791V14.3241H105.328V55.5739ZM126.292 45.5562H146.473V55.5739H114.743V14.3241H126.292V45.5562ZM164.819 45.5562H185V55.5739H153.27V14.3241H164.819V45.5562ZM66.209 19.3654C67.3276 21.6233 66.8014 26.655 65.2879 26.01C64.0772 25.4939 64.7835 23.1716 65.2879 22.0749C63.4455 23.4683 62.8533 25.6229 62.7874 26.5261C62.6821 25.8552 61.9538 25.0424 61.6028 24.7198C61.9318 25.4294 61.8003 27.1713 61.2739 28.397C60.8527 29.3775 61.0984 30.6118 61.2739 31.1064C60.3263 30.1774 60.1772 27.9238 60.221 26.9131C57.3915 32.9126 61.8661 34.3319 63.9718 34.1384C61.761 32.2804 62.9629 28.2894 63.8402 26.5261C63.2086 30.9127 64.3226 32.9126 64.9587 33.3643C64.3666 32.0741 64.9589 29.8162 66.1433 28.397C67.0909 27.2616 67.591 25.1283 67.7226 24.2037C68.249 25.881 66.4065 30.5259 66.4723 31.3646C66.5382 32.2032 67.2113 32.7042 67.9856 31.945C68.5779 31.3644 68.556 29.3861 68.3805 28.397C70.3282 31.4934 69.0167 33.5147 68.1174 34.1384C68.8632 34.1813 70.71 33.9706 72.1313 32.7836C73.5526 31.5966 73.0744 28.8056 72.6577 27.5584C72.2366 30.0356 71.2538 31.128 70.8151 31.3646C72.3417 27.7005 70.9689 24.935 70.0915 24.0103C70.6179 26.023 70.0476 27.7733 69.6967 28.397C69.6966 22.8232 67.3715 20.0536 66.209 19.3654Z" />
      </svg>
      
  </a>  
  <div class="order-3 flex flex-col items-center justify-center col-span-8 mt-6 sm:mt-0">
    <p class="text-primary flex items-end mb-4 leading-none">
      <span class="text-sm leading-none font-normal">TEL.</span>&nbsp;&nbsp;
      <span class="font-medium text-lg leading-none">863 658 1150</span>
    </p>
    <a href="https://order.toasttab.com/online/the-grill-at-lake-jackson-751-us-hwy-27-s" target="_blank" class="font-normal border-2 border-primary rounded-full uppercase px-[28px] py-[16px] leading-none hover:bg-primary hover:text-[#273E5B]">Order Online</a>
  </div>
</header>
<Nav />