---
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>	
		<h1>The Grill</h1>
	</main>
</div>
