---
import logo from '../assets/logo.svg';
---

<div id="container flex items-center justify-center h-screen w-screen">
	<main class="bg-[#273E5B] flex flex-col items-center justify-center h-screen w-screen">
		<img class="logo" src={logo.src} alt="" fetchpriority="high" />
		<h2 class="text--primary text-2xl font-light">Coming soon...</h2>
	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	.logo {
		width: 60%;
	}
</style>
