---

---
<nav class="border border-[#D9C4A2] border-r-0 border-l-0">
  <ul class="max-w-[725px] flex justify-between uppercase tracking-widest mx-auto">
    <li>
      <a href="/" class="block py-2">Home</a>
    </li>
    <li>
      <a href="/menu" class="block py-2">Menu</a>
    </li>
    <li>
      <a href="/location-hours" class="block py-2">About</a>
    </li>
    <li>
      <a href="/about" class="block py-2">Catering</a>
    </li>
    <li>
      <a href="/about" class="block py-2">Location</a>
    </li>
  </ul>
</nav>